mixin module__contact(data)
  - var bemClass = 'module__contact'
  section.module__contact&attributes(attributes)
    div(class=bemClass + '__content') 
      div(class=bemClass + '__heading') 
        span(class=bemClass + '__str').jsAnim.str_black NEW BUSINESS
        h2.jsAnim.h2_black Interested in <br> working together?
      div(class=bemClass + '__form')
        form(action="")
          label(data-name='Name').data-name
            input.form__input(type="text" placeholder='Name')
          label(data-name='Email').data-name
            input.form__input(type="text" placeholder='Email')
          label(data-name='Company').data-name
            input.form__input(type="text" placeholder='Company')
          label(data-name='Country').data-name
            input.form__input(type="text" placeholder='Country')
          label(data-name='Details').data-name.data-text
            textarea.form__area(type="text" placeholder='Details').data-name
          span(class=bemClass + '__required')  * required
          button.button.button_black Submit application