include ../icon/icon

mixin module__about-slider(data)
  - var bemClass = 'module__about-slider'
  section.module__about-slider&attributes(attributes)
    div(class=bemClass + '__content') 
      .jsAboutSlider
        img(class=bemClass + '__slide' src=config.path.images + '/slider/3.jpg' , alt="")
        img(class=bemClass + '__slide' src=config.path.images + '/slider/4.jpg' , alt="")
        img(class=bemClass + '__slide' src=config.path.images + '/slider/5.jpg' , alt="")
      div(class=bemClass + '__nav').row.center.between 
        .slick-prev-1
          +icon('arrow')
        .slide-count-wrap.row.center
          .current
          .separator
          .total
        .slick-next-1
          +icon('arrow')