include ../icon/icon

mixin module__top-slider(data)
  - var bemClass = 'module__top-slider'
  .slick-next
    +icon('arrow')
  .module__top-slider.jsSlick.animated.fadeIn&attributes(attributes)
    div(class=bemClass + '__slide' style='background: url(assets/images/slider/1.jpg) no-repeat center; background-size: cover;')
      div(class=bemClass + '__slide__item') 
        span(class=bemClass + '__str').animated.fadeInUp welcome
        a(href="")
          h2.jsHover.animated2.fadeInUp Expanding Your <br> Software Horizons.
    div(class=bemClass + '__slide' style='background: url(assets/images/slider/2.jpg) no-repeat center; background-size: cover;')
      div(class=bemClass + '__slide__item') 
        span(class=bemClass + '__str').animated.fadeInUp welcome
        a(href="")
          h2.jsHover.animated2.fadeInUp Expanding Your <br> Software Horizons.
    div(class=bemClass + '__slide' style='background: url(assets/images/slider/1.jpg) no-repeat center; background-size: cover;')
      div(class=bemClass + '__slide__item') 
        span(class=bemClass + '__str').animated.fadeInUp welcome
        a(href="")
          h2.jsHover.animated2.fadeInUp Expanding Your <br> Software Horizons.
    div(class=bemClass + '__slide' style='background: url(assets/images/slider/2.jpg) no-repeat center; background-size: cover;')
      div(class=bemClass + '__slide__item') 
        span(class=bemClass + '__str').animated.fadeInUp welcome
        a(href="")
          h2.jsHover.animated2.fadeInUp Expanding Your <br> Software Horizons.
    div(class=bemClass + '__slide' style='background: url(assets/images/slider/1.jpg) no-repeat center;')
      div(class=bemClass + '__slide__item') 
        span(class=bemClass + '__str').animated.fadeInUp welcome
        a(href="")
          h2.jsHover.animated2.fadeInUp Expanding Your <br> Software Horizons.
  .slick-prev
    +icon('arrow')