mixin module__about-fucts(data)
  - var bemClass = 'module__about-fucts'
  section.module__about-fucts&attributes(attributes)
    div(class=bemClass + '__content') 
      div(class=bemClass + '__heading') 
        span(class=bemClass + '__str').jsAnim.str_black WE'RE Navat soft
        h2.jsAnim.h2_black Bold, diverse, and <br> extremely passionate <br> individuals.
    div(class=bemClass + '__items').row.between 
      -for (var x = 0; x < 4; x++)
        div(class=bemClass + '__item').jsAnim 
          p 140 
          span people
